.left-container {
    width: 100%;
    height: 100vh;
    background-color: #0073e6;
    position: relative;
    padding: 20% 10%;
}

.left-container .left-img {
    position: absolute;
    top: 100px;
    left: 90px;
    height: 500px;
}

.left-container .left-txt {
    position: absolute;
    bottom: 130px;
    text-align: center;
    font-weight: 600 !important;
}