.right-container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10% 10%;
}

.right-container .header {
  padding-bottom: 80px;
}

.right-container .right-heading {
  font-weight: 600;
}

.right-container .right-heading .right-icon {
  font-size: 40px;
  color: #0073e6;
}

.right-container .forgot-psd {
  float: right;
  font-size: 15px;
  cursor: pointer;
}

.right-container .txt-container {
  font-size: 13px;
  position: fixed;
  bottom: 90px;
}

.right-container .login-btn {
  width: 100px;
}
