.dcard-container {
    border: none !important;
}



@media (max-width: 576px) {
    .dcard-container {
        width: 16rem;
        border: none !important;
    }
}


.dcard-container .card-right-align {
    float: right;
}